#mainHome {
  padding: 5vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#mainHome p {
  font-size: 0.7em;
}

#mainHome .center {
  text-align: center;
}

#mainHome .homeSection1 p {
  margin: 5px;
}

#mainHome .grid3card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3% 33.4% 33.3%;
      grid-template-columns: 33.3% 33.4% 33.3%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: "a b c";
}

@media screen and (min-height: 100vw) {
  #mainHome .grid3card {
    display: block;
  }
  #mainHome .grid3card > .card {
    margin-bottom: 15px;
  }
}

> #mainHome .grid3card:nth-child(0) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

> #mainHome .grid3card:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

> #mainHome .grid3card:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c;
}

#mainHome .card {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 20% auto 1.1em;
      grid-template-rows: 20% auto 1.1em;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "a" "b" "c";
}

@media screen and (min-height: 100vw) {
  #mainHome .card {
    padding: 0;
  }
  #mainHome .card p {
    border: #5a20b8 1px solid;
  }
}

> #mainHome .card:nth-child(0) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

> #mainHome .card:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

> #mainHome .card:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c;
}

#mainHome .card h3 {
  margin: 0;
  padding-bottom: 0.5em;
  text-align: center;
}

#mainHome .card p {
  border-top: #5a20b8 7px solid;
  font-size: 2vh;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-height: 100vw) {
  #mainHome .card p {
    padding: 15px;
  }
}

#mainHome .card a {
  text-align: center;
  color: #fdfcf6;
  background: #5a20b8;
  text-decoration: none;
}

#mainHome .card a:hover {
  background: #9642f5;
}

#mainHome img {
  width: 60vw;
  margin: auto;
}

#mainHome .preface {
  display: -ms-grid;
  display: grid;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
      grid-template-areas: "a b";
}

#mainHome .preface .content p {
  font-size: 0.6em;
  padding: 10px;
}

#mainHome .preface > div {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  border: 1px solid #0f0f0f;
}

#mainHome .preface > .content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  border: none;
  background: none;
}

#mainHome .preface.systeme {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#mainHome .preface.systeme > div {
  border: none;
}

#mainHome .preface.systeme img {
  width: 30vw;
  margin: 5vw;
}

#mainHome .prefaceImg1 {
  background: url("../img/home/mechanics.jpg") center no-repeat;
  background-size: cover;
}

#mainHome #parralax1 {
  background: url("../img/home/books.jpg") bottom no-repeat;
  height: 70vh;
  background-size: cover;
  border: 1px solid #0f0f0f;
  margin: 5vh 5px 5vh 5px;
}

#mainHome .btnLink {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  color: #fdfcf6;
  border: 1px solid #0f0f0f;
  font-size: 0.8em;
  background: #5a20b8;
}

#mainHome .btnLink:hover {
  background: #9642f5;
}

.WIPpannel {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
  background: #ffc917;
}
/*# sourceMappingURL=style.css.map */