#mainHome{
     p{font-size: 0.7em;}
     padding:5vh;
     display:grid;
     grid-template-columns: 50% 50%;
     grid-template-areas: "lf rg";
     .interfaceHomeLeft{grid-area: lf;}
     .interfaceHomeRight{grid-area: rg;}
}