
footer{
    display: grid;
    grid-template-columns: 17vh auto 17vh;
    grid-template-rows: auto;
    grid-template-areas: "a b c";
    @media screen and (min-height: 100vw){
        grid-template-columns: 17vw auto 17vw;
    }

    >.a{grid-area:a; border-right: $border;}
    >.b{grid-area:b; border-right: $border;}
    >.c{grid-area:c;}

    >.a{
        background: linear-gradient(-90deg, $wrapperFondSh 1px, transparent 1px)
        ,$yellow;
        display: grid;
        grid-template-columns: 8.5vh 8.5vh;
        grid-template-rows: auto;
        grid-template-areas: "a b";
        @media screen and (min-height: 100vw){
            grid-template-columns: 8.5vw 8.5vw;
        }
        text-align: center;

        i {font-size: 4vh}
        @media screen and (min-height: 100vw){i {font-size: 4vw}}
        >.a{grid-area:a;}
        >.b{grid-area:b;}
        >.a, >.b{padding:1.25vh}
        @media screen and (min-height: 100vw){>.a, >.b{padding:1.25vw}}
    }
}