.node{
    // .deco{
    //     background: url("../img/node/npc-youngMan01.png") top left no-repeat,
    //     url("../img/node/region-mountain01.png") top right no-repeat;
    //     background-size: contain;
    // }
    position: relative;
    .content{
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;  /* Firefox */
    scrollbar-color: $black transparent;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 66px;
        border: none;
    }
    }
}